<body class="login">
    <header></header>
    <div class="container">
      <div class="login-container-wrapper clearfix">
        <div class="logo"><i class="fa fa-sign-in"></i></div>
        <div class="welcome"><strong>Welcome,</strong> please login</div>
  
        <form class="form-horizontal login-form">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="User Id"></textarea>
                  </mat-form-field>
              
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Password"></textarea>
                </mat-form-field>
              </form>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
          </div>
          <div class="checkbox pull-left">
            <label><input type="checkbox"> Remember</label>
          </div>
          <div class="checkbox pull-right">
            <label> <a href="/register">create a account</a> </label>
          </div>
        </form>
  
      </div>
    </div>
  
  </body>

  