<section id="introduction">
    <div class="container">
      <div class="row fill-viewport align-items-center">
        <div class="col-12 col-md-6">
          <h1 class="text-white">Bhilwara Infotech</h1>
          <p class="lead text-white-70">Bhilwara Infotechnology Limited (BIL) is a dedicated technology consulting and implementation company and is a part of the LNJ Bhilwara Group, one of the largest employers in India.</p>
          <a class="btn btn-primary" href="/login" role="button">Login Here!</a>
        </div>
      </div>
    </div>
   </section>
   
   
   
   
   
   